<footer class="text-center text-lg-start bg-light text-muted ">
  <section class="" style="background-color: #fff9d6;">
    <div class="container text-center text-md-start mt-5" >
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-5 col-md-4 col-lg-5 mx-auto mb-4 mt-2" style="color:#212529;">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">Siga nos nas redes sociais</h6>
            <p><i class="fab fa-facebook-f" href="# "></i></p>
            <p><i class="fab fab fa-twitter" href="#"></i></p>
            <p><i class="fab fa-instagram" href="#"></i></p>
        </div>
        <!-- Grid column -->
        <div class="col-md-5 col-md-5 col-lg-5 mx-auto mb-4 mt-2" style="color:#212529;">
          <h6 class="text-uppercase fw-bold mb-2 mt-2">
            Onde estamos
          </h6>
          <p>Alameda Rio Claro, 190 - Bairro Riacho da Pedras</p>
          <p>Contagem - MG</p>
            <p><i class="fas fa-phone me-3"></i>  tel: (33)1717-1717 <i class="fa fa-whatsapp" aria-hidden="true"></i></p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: #ffbf8b;" >
    <p class="p-footer">    © 2022 Copyright    Pet Store  -   A Boutique do seu Pet</p>
  </div>
</footer>
<!-- Footer -->
