@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap%27');
* {
  font-family: 'roboto';
}
.titulo{
  color:#212529;
  text-align: center;
 }

h1{
  margin: 10px 10px 10px 20px;
  color:#212529;
}
h5{
  color:#212529;
}
